@font-face {
  font-family: 'pkmn_rbygscregular';
  src: url('/assets/fonts/pkmn_rbygsc-webfont.woff2') format('woff2'),
    url('/assets/fonts/pkmn_rbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}