* {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: $pokeFont;
}

a {
  text-decoration: none;
  color: $colorDodgerBlue;
}