@mixin round-button($baseColor:$colorDodgerBlue, $hoverBaseColor:#333, $diameter:6rem) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: $diameter;

  @include MQ(M) {
    height: $diameter * 0.75;
    width: $diameter * 0.75;
    ;
  }

  a:hover &,
  &:hover {
    background: $hoverBaseColor;
    box-shadow: 0 -2px 0 3px darken($hoverBaseColor, 10%) inset, 0 5px 5px rgba(darken($hoverBaseColor, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bulletList($baseColor:$colorRedRibbon) {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.5rem;
    left: 0;
    background-color: $baseColor;
    border-radius: 50%;
  }
}

@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (max-width: $S) {
      @content;
    }
  }

  @else if $canvas==M {
    @media only screen and (max-width: $M) {
      @content;
    }
  }

  @else if $canvas==L {
    @media only screen and (max-width: $L) {
      @content;
    }
  }
}