.component--item {
  padding: 2rem;

  &__category {
    margin-bottom: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
  }

  &__effect {
    margin-bottom: 2rem;
  }

  &__attributes {
    &__item {
      @include bulletList();
    }
  }
}