.component--pokemon-encounters {
  padding: 2rem;

  &__list {
    &__item {
      margin-bottom: 2rem;

      &__location {
        font-weight: 700;
        margin-bottom: 1rem;
      }

      &__details {
        &__item {
          @include bulletList();
        }
      }
    }
  }
}