.component--pokemon-overview {
  padding: 2rem;

  &__hd-image {
    &__item {
      img {
        max-height: 25rem;
      }
    }
  }

  &__sprites {
    @include clearfix();

    &__item {
      float: left;
    }

    &__item-title {
      clear: both;
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  &__abilities {
    margin-bottom: 2rem;
  }
}