.component--pokedex {
  background-image: url("/assets/svgs/pokedex-landscape.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  max-width: 220/150*95vh;
  height: 95vh;
  max-height: 150/221*100vw;
  margin: 0 auto;

  @include MQ(M) {
    background-image: url("/assets/svgs/pokedex-portrait.svg");
    max-width: none;
    max-height: none;
    height: 980 / 400 * 100vw;
  }

  &__menu {
    position: absolute;
    top: 62%;
    left: 3%;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

    @include MQ(M) {
      left: 5%;
      width: 90%;
      top: 35%;
    }

    a {
      display: block;
      width: 30%;
      color: #fff;

      span {
        display: block;
        margin: 0 auto 2rem;

        @include MQ(M) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__panel-left {
    position: absolute;
    top: 23.5%;
    left: 3%;
    width: 40%;
    height: 33.3%;
    overflow: auto;
    border-radius: 1.5rem;
    border: 2px solid $colorBlack;
    background-color: $colorWhite;

    @include MQ(M) {
      top: 12%;
      left: 5%;
      width: 90%;
      height: 20%;
    }

    .route--search & {
      background-color: $colorGrey;
    }
  }

  &__panel-right {
    position: absolute;
    top: 23.5%;
    left: 54.5%;
    width: 41.5%;
    height: 69.5%;
    overflow: auto;
    border-radius: 1.5rem;
    border: 2px solid $colorBlack;
    background-color: $colorWhite;

    @include MQ(M) {
      top: 55%;
      left: 5%;
      width: 90%;
      height: 35%;
    }

    .route-- &,
    .route--pokedex &,
    .route--item-category &,
    .route--search:not(.has-search-results) & {
      background-color: $colorGrey;
    }
  }

  &__input {
    position: absolute;
    top: 85%;
    left: 3%;
    width: 40%;
    height: 8%;
    overflow: auto;
    border-radius: 1.5rem;
    border: 2px solid $colorBlack;
    background-color: $colorGrey;

    @include MQ(M) {
      top: 44%;
      left: 5%;
      width: 90%;
      height: 3%;
    }

    .route--search & {
      background-color: $colorWhite;
    }
  }
}