.component--pokemon-encounters {
  padding: 2rem;

  &__list {
    &__item {
      margin-bottom: 2rem;

      &__location {
        font-weight: 700;
        margin-bottom: 1rem;
      }

      &__details {
        &__item {
          position: relative;
          padding-left: 2rem;
          margin-bottom: 1rem;

          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: 0.5rem;
            left: 0;
            background-color: $colorRedRibbon;
            border-radius: 50%;
          }
        }
      }
    }
  }
}