@import "partials/_helpers";


.component--pokedex {
  background-image: url("/assets/svgs/pokedex.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  // padding-top: 150/221*100%;
  max-width: 220/150*100vh;
  height: 100vh;
  max-height: 150/221*100vw;
  margin: 0 auto;

  &__menu {
    position: absolute;
    top: 62%;
    left: 3%;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      width: 30%;
      color: #fff;

      span {
        display: block;
        margin: 0 auto 2rem;
      }
    }
  }

  &__panel-left {
    position: absolute;
    top: 23.5%;
    left: 3%;
    width: 40%;
    height: 33.3%;
    overflow: auto;
    border-radius: 1.5rem;
    border: 2px solid #000;
    background-color: $colorWhite;
  }

  &__panel-right {
    position: absolute;
    top: 23.5%;
    left: 54.5%;
    width: 41.5%;
    height: 69.5%;
    overflow: auto;
    border-radius: 1.5rem;
    border: 2px solid #000;
    background-color: $colorWhite;
  }
}